@use "./normalize.scss" as *;

html {
	font-size: clamp(
		14px,
		calc(14px + (16 - 14) * ((100vw - 1366px) / (1920 - 1366))),
		16px
	);
}

body {
	margin: 0;
}

canvas {
	display: block; /* Убирает лишние пробелы под канвасом */
	width: 100vw; /* 100% ширины области просмотра */
	height: 100vh; /* 100% высоты области просмотра */
}
