version: '3.8'
services:
  frontend-balls:
    image: ghcr.io/llstudent83/balls_js:latest
    expose:
      - '80'
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
