.panel {
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2c2c2c;
  padding: 0.6em 1em;
}

.scoreWrapper {
  display: flex;
  align-items: center;
  width: 10em;

  & :first-child {
    margin-right: 0.3em;
  }
}

.buttons {
  & :first-child {
    margin-right: 1em;
  }
}

.button {
  background-color: #4d4d4d;
  padding: 0.5em 0.8em;
  border-radius: 0.4em;
}
